@model DashboardViewModel

@{
    ViewBag.Title = "Tableau de bord";
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-4">
    <!-- Section titre principal -->
    <h1 class="mb-4">Tableau de bord</h1>

    <!-- Statistiques principales -->
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-primary h-100">
                <div class="card-body">
                    <h5 class="card-title">Total des Patients</h5>
                    <p class="card-text display-4">@Model.TotalPatients</p>
                </div>
                <div class="card-footer">
                    <small class="text-white">Par rapport à votre profil</small>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-success h-100">
                <div class="card-body">
                    <h5 class="card-title">Total d'Ordonnances</h5>
                    <p class="card-text display-4">@Model.TotalPrescriptions</p>
                </div>
                <div class="card-footer">
                    <small class="text-white">Total de toutes vos ordonnances</small>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-warning h-100">
                <div class="card-body">
                    <h5 class="card-title">Incompatibilités</h5>
                    <p class="card-text display-4">/</p>
                </div>
                <div class="card-footer">
                    <small class="text-white">Total contre indications</small>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-danger h-100">
                <div class="card-body">
                    <h5 class="card-title">Alertes Allergies</h5>
                    <p class="card-text display-4">/</p>
                </div>
                <div class="card-footer">
                    <small class="text-white">Critiques à vérifier</small>
                </div>
            </div>
        </div>
    </div>

    <!-- Section ordonnances en cours -->
    <div class="card mt-4">
        <div class="card-header">
            <h5>Vos dernières ordonnances</h5>
        </div>
        <div class="card-body">
            @if (Model.Prescriptions.Count > 0)
            {
                <table class="table table-sm table-hover">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">État</th>
                        <th scope="col">Éditer</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    @foreach (var prescription in Model.Prescriptions)
                    {
                        <tr>
                            <th scope="row">@prescription.PrescriptionId</th>
                            <td>@prescription.Patient.FirstName @prescription.Patient.LastName</td>
                            <td>@prescription.CreatedAt</td>
                            <td>
                                @if (prescription.EndDate < DateOnly.FromDateTime(DateTime.Now))
                                {
                                    <span class="badge bg-success">En cours</span>
                                }
                                else if (prescription.EndDate == null)
                                {
                                    <span class="badge bg-secondary text-white">En édition</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Terminée</span>
                                }
                            </td>
                            <td><a asp-action="Details" asp-controller="Prescription" asp-route-id="@prescription.PrescriptionId"><i class="bi bi-pencil"></i></a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p class="mt-2 text-center">Aucune ordonnance en cours</p>
            }
            <a asp-controller="Prescription" asp-action="Create" class="btn btn-primary">Créer une nouvelle ordonnance</a>
        </div>
    </div>

    <!-- Section derniers patients -->
    <div class="card mt-4">
        <div class="card-header">
            <h5>Derniers patients ajoutés</h5>
        </div>
        <div class="card-body">
            @if (Model.Patients.Count > 0)
            {
                <table class="table table-sm table-hover">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Éditer</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var patient in Model.Patients)
                        {
                            <tr>
                                <th scope="row">@patient.PatientId</th>
                                <td>@patient.FirstName @patient.LastName</td>
                                <td>@patient.CreatedAt</td>
                                <td><a asp-action="Edit" asp-controller="Patient" asp-route-id="@patient.PatientId"><i class="bi bi-pencil"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="mt-2 text-center">Aucun patient enregistré pour votre profil</p>
            }
            <a asp-controller="Patient" asp-action="Add" class="btn btn-primary">Créer un nouveau patient</a>
        </div>
    </div>
    
    <h3 class="my-4">Statistiques</h3>

    <!-- Section statistiques -->
    <div class="row mt-4">
        
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5>Patients les plus consultés</h5>
                </div>
                <div class="card-body">
                    <canvas id="patientsChart"></canvas>
                </div>

                <script>
                    const patientsData = @Html.Raw(Json.Serialize(ViewBag.PatientsData));
                    const patientsLabels = @Html.Raw(Json.Serialize(ViewBag.PatientsLabels));

                    const patientsCtx = document.getElementById('patientsChart').getContext('2d');
                    const patientsChart = new Chart(patientsCtx, {
                        type: 'pie',
                        data: {
                            labels: patientsLabels, // Labels
                            datasets: [{
                                label: 'Consultations',
                                data: patientsData, // Les données
                                borderColor: [
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)'
                                ],
                                backgroundColor: [
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5>Médicaments les plus prescrits</h5>
                </div>
                <div class="card-body">
                    <canvas id="medicamentsChart"></canvas>
                </div>

                <script>
                    const medicamentsData = @Html.Raw(Json.Serialize(ViewBag.MedicamentsData));
                    const medicamentsLabels = @Html.Raw(Json.Serialize(ViewBag.MedicamentsLabels));

                    const medicamentsCtx = document.getElementById('medicamentsChart').getContext('2d');
                    const medicamentsChart = new Chart(medicamentsCtx, {
                        type: 'pie',
                        data: {
                            labels: medicamentsLabels, // Labels
                            datasets: [{
                                label: 'Consultations',
                                data: medicamentsData, // Les données
                                borderColor:
                                [
                                    'rgba(255, 159, 64, 1)', 
                                    'rgba(201, 203, 207, 1)', 
                                    'rgba(54, 162, 235, 1)', 
                                    'rgba(153, 102, 255, 1)', 
                                    'rgba(255, 99, 132, 1)'
                                ],
                                backgroundColor: 
                                [
                                    'rgba(255, 159, 64, 0.2)', 
                                    'rgba(201, 203, 207, 0.2)', 
                                    'rgba(54, 162, 235, 0.2)', 
                                    'rgba(153, 102, 255, 0.2)', 
                                    'rgba(255, 99, 132, 0.2)'
                                 ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>

        <div class="col-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5>Antécédents les plus fréquents</h5>
                </div>
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row my-4">
        
        <div class="col-6">
            <div class="card h-100">
                <div class="card-header">
                    <h5>Nombre de patients par catégories d'âge</h5>
                </div>
                <div class="card-body">
                    <canvas id="ageChart"></canvas>
                </div>
                
                <script>
                    const ageData = @Html.Raw(Json.Serialize(ViewBag.PatientsByAgeData));
                    const ageLabels = @Html.Raw(Json.Serialize(ViewBag.PatientsByAgeLabels));

                    const ageCtx = document.getElementById('ageChart').getContext('2d');
                    const ageChart = new Chart(ageCtx, {
                        type: 'bar',
                        data: {
                            labels: ageLabels, // Labels
                            datasets: [{
                                label: 'Patients',
                                data: ageData, // Les données
                                borderColor:
                                [
                                    'rgba(101, 179, 255, 1)', 
                                    'rgba(153, 102, 255, 1)', 
                                    'rgba(255, 99, 132, 1)', 
                                    'rgba(54, 162, 235, 1)', 
                                    'rgba(201, 203, 207, 1)'
                                ],
                                backgroundColor:
                                [
                                    'rgba(101, 179, 255, 0.2)', 
                                    'rgba(153, 102, 255, 0.2)', 
                                    'rgba(255, 99, 132, 0.2)', 
                                    'rgba(54, 162, 235, 0.2)', 
                                    'rgba(201, 203, 207, 0.2)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>


        <div class="col-6">
            <div class="card h-100">
                <div class="card-header">
                    <h5>Nombre de médicaments par types</h5>
                </div>
                <div class="card-body">
                    <canvas id="Chart"></canvas>
                </div>
            </div>
        </div>
        
    </div>
</div>
