@model IEnumerable<Medicament>

<table class="table table-striped table-sm table-hover">
    <thead class="text-center">
    <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Ingrédients</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="text-center">
    @foreach (var medicament in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => medicament.MedicamentId)</td>
            <td>@Html.DisplayFor(m => medicament.Name)</td>
            <td>@Html.DisplayFor(m => medicament.Quantity)</td>
            <td>@Html.DisplayFor(m => medicament.Ingredients)</td>
            <td><a asp-action="Details" asp-controller="Medicament" asp-route-id="@medicament.MedicamentId" class="mr-4"><i class="bi bi-card-list"></i></a>
                <a asp-action="Edit" asp-controller="Medicament" asp-route-id="@medicament.MedicamentId" class="mr-4"><i class="bi bi-pencil"></i></a>
                <a type="button" data-toggle="modal" data-target="#supprModal@{@Html.DisplayFor(m => medicament.MedicamentId)}" class="text-primary">
                    <i class="bi bi-trash"></i>
                </a>
                <div class="modal fade" tabindex="-1" id="supprModal@{@Html.DisplayFor(m => medicament.MedicamentId)}" aria-labelledby="modalLabelSuppr" aria-hidden="true">>
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Êtes-vous sûr de supprimer @medicament.Name ?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Veuillez confirmer ci-dessous.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <form asp-action="Delete" asp-controller="Medicament" asp-route-id="@medicament.MedicamentId" method="get">
                                    <button class="btn btn-danger">Confirmer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
