@model IEnumerable<Prescription>

<table class="table table-sm table-hover table-striped">
    <thead class="text-center">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Patient</th>
        <th scope="col">Date de création</th>
        <th scope="col">État</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody class="text-center">
    @foreach (var prescription in Model)
    {
        <tr>
            <th scope="row">@prescription.PrescriptionId</th>
            <td>@prescription.Patient.FirstName @prescription.Patient.LastName</td>
            <td>@prescription.CreatedAt</td>
            <td>
                @if (prescription.EndDate >= DateOnly.FromDateTime(DateTime.Now))
                {
                    <span class="badge bg-success text-white">En cours</span>
                }
                else if (prescription.EndDate == null)
                {
                    <span class="badge bg-secondary text-white">En édition</span>
                }
                else
                {
                    <span class="badge bg-danger text-white">Terminée</span>
                }
            </td>
            <td><a asp-action="Details" asp-controller="Prescription" asp-route-id="@prescription.PrescriptionId" class="mr-4"
                   data-toggle="tooltip" title="Détails de l'ordonnance"><i class="bi bi-card-list"></i></a>
                <a asp-action="Edit" asp-controller="Prescription" asp-route-id="@prescription.PrescriptionId" class="mr-4"
                   data-toggle="tooltip" title="Modification de l'ordonnance"><i class="bi bi-pencil"></i></a>
                <span data-toggle="tooltip" title="Supprimer l'ordonnance" class="mr-4">
                    <a type="button" data-toggle="modal" data-target="#supprModal@{@Html.DisplayFor(m => prescription.PatientId)}" class="text-primary">
                        <i class="bi bi-trash"></i>
                    </a>
                </span>
                <div class="modal fade" tabindex="-1" id="supprModal@{@Html.DisplayFor(m => prescription.PatientId)}" aria-labelledby="modalLabelSuppr" aria-hidden="true">>
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Êtes-vous sûr de supprimer l'ordonnance de @prescription.Patient.FirstName @prescription.Patient.LastName ?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Veuillez confirmer ci-dessous.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <form asp-action="Delete" asp-controller="Prescription" asp-route-id="@prescription.PrescriptionId">
                                    <button class="btn btn-danger">Confirmer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a asp-action="ExportPdf" asp-controller="Prescription" asp-route-id="@prescription.PrescriptionId"
                   data-toggle="tooltip" title="Exporter en PDF"><i class="bi bi-box-arrow-in-down"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>