@using Microsoft.AspNetCore.Mvc.Filters
@model PatientViewModel

<input asp-for="PatientId" type="hidden" value="@Model.PatientId"/>

<div class="form-group mb-3">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" class="form-control"/>
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" class="form-control"/>
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="BirthDate"></label>
    <input asp-for="BirthDate" class="form-control" value="@Model.BirthDate.ToString("yyyy")-@Model.BirthDate.ToString("MM")-@Model.BirthDate.ToString("dd")"/>
    <span asp-validation-for="BirthDate" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="Gender"></label>
    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList(typeof(Genders))" class="form-control">
        <option value="">Select Gender</option>
    </select>
    <span asp-validation-for="Gender" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="Height"></label>
    <input asp-for="Height" class="form-control"/>
    <span asp-validation-for="Height" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="Weight"></label>
    <input asp-for="Weight" class="form-control"/>
    <span asp-validation-for="Weight" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control"/>
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group mb-3">
    <label asp-for="SocialSecurityNumber"></label>
    <input asp-for="SocialSecurityNumber" class="form-control"/>
    <span asp-validation-for="SocialSecurityNumber" class="text-danger"></span>
</div>

<div class="form-group">
    <label>Antécédents médicaux</label>
    <div class="col-sm-6">
        @Html.ListBoxFor(model => model.SelectedMedicalHistoryIds, new MultiSelectList(Model.DrpMedicalHistories,
        "Value", "Text"), new
        {
        @class = "form-control",
        multiple = "multiple",
        id = "MedicalHistories_dropdown"
        })
    </div>
</div>

<div class="form-group">
    <label>Allergies</label>
    <div class="col-sm-6">
        @Html.ListBoxFor(model => model.SelectedAllergyIds, new MultiSelectList(Model.DrpAllergies,
            "Value", "Text"), new
        {
            @class = "form-control",
            multiple = "multiple",
            id = "Allergies_dropdown"
        })
    </div>
</div>