@using MedManager.Models
@model PatientViewModel

@{
    Layout = "_Layout";
}

<div class="w-full flex flex-col gap-2">
    
    <form asp-action="Add" asp-controller="Patient" method="post" class="flex flex-col gap-4">
        <h1 class="my-2 font-bold text-xl">Ajout d'un nouveau patient à la base !</h1>
        <div class="flex flex-col">
            <label asp-for="FirstName" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="FirstName" class="input input-bordered w-full"/>
            <span asp-validation-for="FirstName" class="text-error"></span>
        </div>

        <div class="flex flex-col">
            <label asp-for="LastName" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="LastName" class="input input-bordered w-full"/>
            <span asp-validation-for="LastName" class="text-error"></span>
        </div>

        <div class="flex flex-col">
            <label asp-for="Age" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Age" class="input input-bordered w-full"/>
            <span asp-validation-for="Age" class="text-error"></span>
        </div>

        <div>
            <label asp-for="Gender" class="block mb-2 text-md font-medium text-text"></label>
            <select asp-for="Gender" asp-items="@Html.GetEnumSelectList(typeof(Genders))" class="select select-bordered w-full">
                <option value="">Select Gender</option>
            </select>
            <span asp-validation-for="Gender" class="text-red-500"></span>
        </div>

        <div class="flex flex-col">
            <label asp-for="Height" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Height" class="input input-bordered w-full"/>
            <span asp-validation-for="Height" class="text-error"></span>
        </div>
        
        <div class="flex flex-col">
            <label asp-for="Address" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="Address" class="input input-bordered w-full"/>
            <span asp-validation-for="Address" class="text-error"></span>
        </div>
        
        <div class="flex flex-col">
            <label asp-for="SocialSecurityNumber" class="block mb-2 text-md font-medium text-text"></label>
            <input asp-for="SocialSecurityNumber" class="input input-bordered w-full"/>
            <span asp-validation-for="SocialSecurityNumber" class="text-error"></span>
        </div>

        <h3 class="mt-2 font-bold">Antécédents</h3>
        <div class="flex flex-col gap-2">
            @foreach (var medicalHistory in Model.MedicalHistories)
            {
                <div class="flex flex-row gap-4">
                    <input class="checkbox" type="checkbox" name="SelectedMedicalHistoryIds" value="@medicalHistory.MedicalHistoryId" />
                    <label>@medicalHistory.Name</label>
                </div>
            }
            
            @if (Model.MedicalHistories.Count == 0) 
            {
                <p>Aucun antécédent médical dans la base</p>
            }
        </div>

        <h3 class="mt-2 font-bold">Allergies</h3>
        <div class="flex flex-col gap-2">
            @foreach (var allergy in Model.Allergies)
            {
                <div class="flex flex-row gap-4">
                    <input class="checkbox" type="checkbox" name="SelectedAllergyIds" value="@allergy.AllergyId" />
                    <label>@allergy.Name</label>
                </div>
            }

            @if (Model.Allergies.Count == 0)
            {
                <p>Aucune allergie dans la base</p>
            }
        </div>
        
        <input class="btn btn-primary my-5" type="submit" value="Créer le patient"/>
    </form>
</div>