@{
    Layout = "_Layout";
}
@model IEnumerable<Patient>

<div class="flex flex-col">
    
    <h1 class="text-center text-xl font-bold my-4">Liste des patients</h1>

    @if (Model.Count() > 0)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr class="border-y text-center">
                    <th>Id</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Age</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Gender</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Créer ordonnance</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (Patient patient in Model)
                {
                    <tr class="">
                        <td>@Html.DisplayFor(m => patient.PatientId)</td>
                        <td>@Html.DisplayFor(m => patient.LastName)</td>
                        <td>@Html.DisplayFor(m => patient.FirstName)</td>
                        <td>@Html.DisplayFor(m => patient.Age)</td>
                        <td>@Html.DisplayFor(m => patient.Height)</td>
                        <td>@Html.DisplayFor(m => patient.Weight)</td>
                        <td>@Html.DisplayFor(m => patient.Gender)</td>
                        <td><a asp-action="ShowDetails" asp-route-id="@patient.PatientId"><i class="bi bi-card-list"></i></a></td>
                        <td><a asp-action="Edit" asp-route-id="@patient.PatientId"><i class="bi bi-pencil"></i></a></td>
                        <td><a type="button" data-toggle="modal" data-target="#supprModal@{@Html.DisplayFor(m => patient.PatientId)}"><i class="bi bi-trash"></i></a>
                            <div class="modal fade" tabindex="-1" id="supprModal@{@Html.DisplayFor(m => patient.PatientId)}" aria-labelledby="modalLabelSuppr" aria-hidden="true">>
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Modal body text goes here.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <form asp-action="Delete" asp-route-id="@patient.PatientId" method="post"><button class="btn btn-primary">Confirmer</button></form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><a asp-action="CreatePrescription" asp-route-id="@patient.PatientId"><i class="bi bi-file-plus"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Aucun patient dans la base</p>
    }
    
    <a asp-action="Add" class="btn btn-primary">Ajouter un nouveau patient</a>
</div>