@model Patient

<div>
    <h2>@Model.FirstName @Model.LastName</h2>
    <p>@Model.BirthDate</p>
    <p>@Model.Address</p>
    <p>@Model.Weight</p>
    <p>@Model.Height</p>
    <p>@Model.SocialSecurityNumber</p>
</div>