@model Patient

<div class="d-flex justify-content-center">
    <div class="card rounded my-4" style="width: 100%; max-width: 15000px;">
        <div class="card-header text-center" style="width: 100%;">
            <h5 class="mb-0">Patient</h5>
        </div>
        <div class="card-body">
            <div>
                <h2>@Model.FirstName @Model.LastName</h2>
                <p>@Model.Age</p>
                <p>@Model.Gender</p>
                <p>@Model.Weight</p>
                <p>@Model.Height</p>
            </div>
        </div>
    </div>
</div>